In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy
import obspy
import os
import re

In [10]:
ye_db = pd.DataFrame(columns = ['event_id', 'year', 'month', 'day', 'hour', 'minute', 'location'])

In [11]:
ye_files = '/home/earthquakes1/homes/Rebecca/phd/stf/data/Ye_et_al_2016/'

for event in os.listdir(ye_files):
    if event.endswith('.txt'):
        year = event[0:4]
        month = event[4:6]
        day = event[6:8]
        hour = event[8:10]
        minute = event[10:12]

        location = event.split('_')[1].split('.')[0]

        df1 = pd.DataFrame([[event, year, month, day, hour, minute, location]], columns = ['event_id', 'year', 'month', 'day', 'hour', 'minute', 'location'])

        ye_db = pd.concat([ye_db, df1], ignore_index=True)

In [12]:
ye_db.to_csv('/home/earthquakes1/homes/Rebecca/phd/stf/data/ye.csv', index=False)

In [13]:
ye_db

                           event_id  year month day hour minute   location
0      199003051638_Vanuatu.mrf.txt  1990    03  05   16     38    Vanuatu
1    199003251322_CostaRica.mrf.txt  1990    03  25   13     22  CostaRica
2     199004181339_Sulawesi.mrf.txt  1990    04  18   13     39   Sulawesi
3     199106200518_Sulawesi.mrf.txt  1991    06  20   05     18   Sulawesi
4     199111192228_Colombia.mrf.txt  1991    11  19   22     28   Colombia
..                              ...   ...   ...  ..  ...    ...        ...
115      201505050144_Papua.mrf.txt  2015    05  05   01     44      Papua
116      201505120705_Nepal.mrf.txt  2015    05  12   07     05      Nepal
117      201509162254_Chile.mrf.txt  2015    09  16   22     54      Chile
118    201604162358_Ecuador.mrf.txt  2016    04  16   23     58    Ecuador
119     201612251422_SChile.mrf.txt  2016    12  25   14     22     SChile

[120 rows x 7 columns]